h1 {
  color: blue;
}

h2:not(p) .kereta {
  font-size: 40px;
  color: red;
}

#content {
  text-decoration: underline;
}

nav {
  background-color: tomato;
  padding: 0 0 0 100px;
}

main {
  background-color: yellow;
  padding: 25px;
}

section {
  padding: 50px;
  margin: 100px;
  background-color: magenta;
}

ul {
  display: flex;
  column-gap: 30px;
  flex-direction: none;
}

ul li:nth-child(1) {
  list-style: none;
  float: right;
}
